html, body {
  min-height: 100%;
  min-width: 100%;
  padding: 0px 0px;
  margin: 0px 0px;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #1f25b4;
  background: linear-gradient(331deg, #1f25b4 12%, #8c089d 87%);
  padding: 20px 0px;
  width: 100%;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav__logo {
  margin-left: 70px;
  -webkit-transform: scale(2.7, 2.7);
          transform: scale(2.7, 2.7);
  display: block;
  width: 55px;
}

.nav .nav__icon {
  margin-right: 30px;
  -webkit-transform: scale(1.25, 1.25);
          transform: scale(1.25, 1.25);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #707070;
  -webkit-box-shadow: 2px 2px 2px #cecece;
          box-shadow: 2px 2px 2px #cecece;
  border-radius: 5px;
  margin: 60px 0px;
  padding: 15px;
  width: 85%;
  max-width: 405px;
}

.main .main__logo {
  margin: 40px;
  -webkit-transform: scale(0.65, 0.65);
          transform: scale(0.65, 0.65);
}

.main .main__header {
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}

.main .form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
}

.main .form .form__input {
  border: 1px solid #707070;
  -webkit-box-shadow: 2px 2px 2px #cecece;
          box-shadow: 2px 2px 2px #cecece;
  border-radius: 5px;
  padding-left: 15px;
  height: 40px;
  margin-bottom: 25px;
  font-size: 16px;
}

.main .form .form__input[type='file'] {
  display: none;
}

.main .form .form__textarea {
  border: 1px solid #707070;
  -webkit-box-shadow: 2px 2px 2px #cecece;
          box-shadow: 2px 2px 2px #cecece;
  border-radius: 5px;
  min-height: 200px;
  resize: none;
  font-family: unset;
  font-size: 16px;
  padding: 10px;
  margin: 20px 0px;
}

.main .hr {
  border: none;
  background-color: #ccc;
  color: #ccc;
  height: 1px;
  width: 100%;
}

.main .profile-pic {
  border: 1px solid #707070;
  -webkit-box-shadow: 2px 2px 2px #cecece;
          box-shadow: 2px 2px 2px #cecece;
  border-radius: 5px;
  color: #cecece;
  margin: 20px 0px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-position: 0px -10px;
     object-position: 0px -10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .account-details {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.main .account-details .account-details__username {
  font-size: larger;
  font-weight: 700;
}

.main .account-details .trash-icon {
  color: #3c323d;
}

.news-feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.news-feed button {
  margin-top: 60px;
}

.post {
  border: 1px solid #707070;
  -webkit-box-shadow: 2px 2px 2px #cecece;
          box-shadow: 2px 2px 2px #cecece;
  border-radius: 5px;
  margin: 40px 0px;
  max-width: 405px;
  width: 100%;
}

.post .post__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .post__heading .profile-pic {
  margin: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post .post__heading .post__author {
  margin: 0;
}

.post .post__heading .post__timestamp {
  margin: 0;
  color: #707070;
}

.post .post__body .post__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.post .post__body .post__text-content {
  margin: 5px 10px;
}

.post .comments-and-likes .comments-and-likes__qty {
  margin-left: 10px;
  color: #707070;
}

.post .comments-and-likes .icons__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.post .comments-and-likes .icons__wrapper .comments-and-likes__icons {
  margin: 3px;
}

.post .comments-and-likes .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.post .comments-and-likes .comment .comment__author-profile-pic {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 5px;
}

.post .comments-and-likes .comment div {
  padding: 8px;
  font-size: smaller;
  border-radius: 15px;
  background-color: #f2f2f2;
  margin: 5px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #3c323d;
  -webkit-box-shadow: 2px 2px 2px #cecece;
          box-shadow: 2px 2px 2px #cecece;
  border-radius: 5px;
  padding: 0px 25px;
  color: white;
  text-decoration: none;
  background-color: #1f25b4;
  font-weight: 600;
  cursor: pointer;
  margin: 15px 0px;
  height: 40px;
  font-size: 18px;
}

.button--small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #3c323d;
  -webkit-box-shadow: 2px 2px 2px #cecece;
          box-shadow: 2px 2px 2px #cecece;
  border-radius: 5px;
  padding: 0px 15px;
  color: white;
  text-decoration: none;
  background-color: #8c089d;
  font-weight: 600;
  cursor: pointer;
  margin: 15px 0px;
  height: 35px;
  font-size: 15px;
}

.button--warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #3c323d;
  -webkit-box-shadow: 2px 2px 2px #cecece;
          box-shadow: 2px 2px 2px #cecece;
  border-radius: 5px;
  padding: 0px 15px;
  color: white;
  text-decoration: none;
  background-color: #8E045E;
  font-weight: 600;
  cursor: pointer;
  margin: 15px 0px;
  height: 35px;
  font-size: 15px;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  margin: 25px 0px;
  width: 90%;
  color: #8c089d;
  background-color: #f5c2fc;
  padding: 20px;
}
