$primary: #8C089D;
$secondary: #1F25B4;
$dark: #3c323d;
$border-color: #707070;
$box-shadow-color: #cecece;
$comment-color: #f2f2f2;

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin border($border-color: $border-color) {
  border: 1px solid $border-color;
  box-shadow: 2px 2px 2px $box-shadow-color;
  border-radius: 5px;
}

@mixin button($color: $secondary, $font-size: 18px, $height: 40px, $padding: 0px 25px) {
  @include flex-column-center; 
  @include border($border-color: $dark);
  padding: $padding;
  color: white;
  text-decoration: none;
  background-color: $color;
  font-weight: 600;
  cursor: pointer;
  margin: 15px 0px;
  height: $height;
  font-size: $font-size;
}

@mixin hr {
  border: none;
  background-color: #ccc;
  color: #ccc;
  height: 1px;
  width: 100%;
}

#app {
  @include flex-column-center;
}

nav {
  background: $secondary;
  background: linear-gradient(331deg, $secondary 12%, $primary 87%);
  padding: 20px 0px;
  width: 100%;
  @include flex-row-between;
  img {
    margin-left: 70px;
    transform: scale(2.70,2.70);
    display: block;
    width: 55px;
  }
  .account-icon {
    margin-right: 30px; 
    transform: scale(1.25, 1.25);
  }
}

main {
  @include flex-column-center; 
  @include border;
  margin: 60px 0px;
  padding: 15px;
  width: 85%;
  max-width: 350px;
  #black-logo {
    margin: 40px;
    transform: scale(.65, .65)
  }
  h2 {
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  input {
    @include border;
    padding-left: 15px;
    height: 40px;
    margin-bottom: 25px;
    &[type=text] {
      font-size: 16px;
    } 
    &[type=email] {
      font-size: 16px;
    }
  }

  .button {
    @include button();
  }
  .button-small {
    @include button($color: $primary, $font-size: 15px, $height: 35px, $padding: 0px 15px)
  }
  .new-account-button {
    @include flex-column-center;
  }
  input[type="file"] {
    display: none;
  }
  
 &.news-feed {
   border: none;
   box-shadow: none;
   #create-post-input-fake {
    width: 95%;
  }
  .post {
    @include border;
    width: 100%;

    .post-heading {
      display: flex;
      flex-direction: row;
      align-items: center;
      .author-profile-pic {
        margin: 15px;
      }
      h3 {
        margin: 0;
      }
      p {
        margin: 0;
        color: $border-color;
      }
    }

    .post-body {
      .post-body-image {
        width: 100%;
        object-fit: cover;
      }
      .post-body-text {
        margin: 5px 10px;
      }
    }

    .post-comments {
      .post-likes-and-comments-qty {
        margin-left: 10px;
      }
      .post-icons-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .post-icons {
          margin: 3px;
        }
      }
      .comment {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
        .commenter-profile-pic {
          width: 30px;
          height: 30px;
          margin: 5px;
        }
        div {
          padding: 8px;
          font-size: smaller;
          border-radius: 15px;
          background-color: $comment-color;
          margin: 5px;
        }
      }
    }
  }
 }
}

textarea[type="text"] {
  @include border;  
  min-height: 200px;
  resize: none;
  font-family: unset;
  font-size: 16px;
  padding: 10px; 
  margin: 20px 0px;
}



.profile-pic {
  color: $box-shadow-color;
  align-self: center;
  margin: 20px 0px;
  
}

.all-account-details {
  @include flex-column-center;
}

.account-details-minus-image {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

hr {
  @include hr
}

.trash-icon, .edit-icon {
  color: $dark;
}

.username {
  font-size: larger;
  font-weight: 700;
}





