$primary: #8c089d;
$secondary: #1f25b4;
$warning: #8e045e;
$dark: #3c323d;
$border-color: #323232;
$box-shadow-color: #cecece;
$comment-color: #f2f2f2;

// Classes beginning with .l- are wrappers used for layout purposes only,
// they do not apply any other styles.

// Mixins
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin border($border-color: $border-color) {
  border: 1.75px solid $border-color;
  box-shadow: 4px 4px 4px $box-shadow-color;
  border-radius: 10px;
}

@mixin focus-border {
  &:focus {
    border: 3px solid $secondary;
  }
}

@mixin button {
  @include flex-column-center;
  @include border;
  transition: all 0.2s ease-in-out;
  background-image: linear-gradient(to right, $primary, $secondary);
  background-size: 200% 100%;
  font-size: 15px;
  box-shadow: 4px 4px 4px $box-shadow-color;
  border: none;
  border-radius: 12px;
  box-shadow: none;
  padding: 0px 25px;
  color: white;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  margin: 15px 0px;
  height: 40px;
  &:hover {
    background-position: 100% 0;
    transition: all 0.2s ease-in-out;
    background-image: linear-gradient(to right, $primary, $secondary);
  }
}

@mixin hr {
  border: none;
  background-color: #ccc;
  color: #ccc;
  height: 1px;
  width: 100%;
}

// Document Styling
html,
body {
  min-height: 100%;
  min-width: 100%;
  padding: 0px 0px;
  margin: 0px 0px;
}

#app {
  @include flex-column-center;
  font-family: sans-serif;
}

.button {
  @include button();
}

//Components
.nav {
  position: sticky;
  top: 0;
  z-index: 2;
  background: $secondary;
  background: linear-gradient(331deg, $secondary 12%, $primary 87%);
  padding: 20px 0px;
  width: 100%;
  margin: 0px;
  @include flex-row-between;
  .nav__logo {
    margin-left: 70px;
    transform: scale(2.7, 2.7);
    display: block;
    width: 55px;
  }
  .nav__icon {
    margin-right: 30px;
    transform: scale(1.25, 1.25);
  }
}

input:focus {
  outline: none !important;
}

.main {
  @include flex-column-center;
  @include border;
  margin: 60px 0px;
  padding: 15px;
  width: 85%;
  max-width: 375px;
  .main__logo {
    z-index: 1;
    margin: 40px;
    transform: scale(0.65, 0.65);
  }
  .main__header {
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
  }
  .button-file-input {
    @include button;
    height: 40px;
    overflow: hidden;
    position: relative;
  }
  .button-file-input > input[type='file'] {
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    width: 100%;
  }

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    .form__input {
      @include border;
      @include focus-border;
      padding-left: 15px;
      height: 40px;
      margin-bottom: 25px;
      font-size: 16px;
    }
    .form__input:nth-of-type(1) {
      margin-top: 25px;
    }
    .form__textarea {
      @include border;
      @include focus-border;
      min-height: 200px;
      resize: none;
      font-family: unset;
      font-size: 16px;
      padding: 10px;
      margin: 20px 0px;
    }
    :focus {
      outline: none !important;
    }
  }

  .img-preview {
    max-height: 300px;
    object-fit: cover;
  }
  .hr {
    @include hr;
  }
  .profile-pic {
    border: 2px solid $border-color;
    border-radius: 50%;
    color: $box-shadow-color;
    margin: 20px 0px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 50% 50%;
  }
  .account-details {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    .account-details__username {
      font-size: larger;
      font-weight: 700;
    }
    .trash-icon {
      color: $dark;
    }
  }
}

.newsfeed {
  @include flex-column-center;
  border: none;
  box-shadow: none;
  padding: 20px;
  & button {
    margin: 20px 20px !important;
  }
}

.post {
  margin: 10px 0px;
  width: 100%;
  width: 375px;
  border-radius: 10px;
  .post__heading {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    .profile-pic {
      margin: 15px;
      width: 50px;
      height: 50px;
      object-fit: cover;
      object-position: 50% 50%;
      border-radius: 50%;
    }
    .post__author {
      margin: 0;
    }
    .post__timestamp {
      margin: 0;
      color: $border-color;
    }
  }

  .post__image {
    max-height: 275px;
    object-fit: cover;
  }
  .post__text-content {
    margin: 5px 10px;
  }

  .l-likes-and-comments-qty {
    display: flex;
  }
  .comments-qty {
    margin-left: 10px;
    color: lighten($border-color, 30%);
  }
  .likes-qty {
    margin-left: 10px;
    color: lighten($border-color, 30%);
  }
  .l-icons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .comments-and-likes__icons {
    border-style: none;
    background-color: #ffffff;
    color: $secondary;
    font-size: 1.25em;
    margin: 5px !important;
    &:hover {
      color: lighten($secondary, 10%);
      transform: scale(1.05);
    }
  }

  .comments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    .comment-profile-pic {
      border-radius: 50%;
      width: 35px;
      height: 35px;
      object-fit: cover;
      object-position: 50% 50%;
      margin: 5px;
    }
    .l-flex-row {
      @include flex-column-center();
    }
    .comment {
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    .comment-author {
      font-size: 13px;
    }
  }
}
.comment-form {
  width: 100%;
  @include flex-column-center();
  margin: 5px 15px 25px 15px;
}
.comment-input {
  @include border;
  box-shadow: 2px 2px 2px $box-shadow-color;
  border-radius: 6px;
  width: 100%;
  height: 30px;
  padding-left: 10px;
}

.comment-text {
  width: fit-content;
  padding: 5px 9px;
  font-size: smaller;
  border-radius: 15px;
  background-color: $comment-color;
  margin: 5px;
  & div {
    margin: 4px;
  }
}

.l-delete-account {
  @include flex-column-center();
}

.error {
  @include flex-column-center;
  text-align: center;
  line-height: 20px;
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
  color: $primary;
  background-color: lighten($primary, 55%);
  padding: 10px;
}

.text-center {
  text-align: center;
}
